.header{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
}
.header a:hover{
    border-bottom: 1px white solid;
}
body{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
.center{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
.footer{
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.795),rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.959),black);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    width: 100%;
}
.footer ul{
    margin-left: 4vw;
}
.bullet li{
    list-style-type: none;
    text-shadow: 2px 2px 4px black;
}
.footer hr{
    width: 70%;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: white;
}
.nav-item{
    width: max-content;
    margin: 10px;
    margin-top: 4px;
  }